.empty_cart{
    height: calc(100vh - 443px);
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        margin-top: 80px;
        text-align: center;
    }
}

.cartlist_wrapper{
    max-width: 55%;
    margin: auto;
    h2{
        font-size: 40px;
        font-weight: 700;
        color: #0D0E11;
        margin-top: 120px;
    }
    .item_wrapper{
        border: 1px solid #EFF3F9;
        border-radius: 15px;
        box-shadow: 0px 1px 3px rgba(30, 38, 57, 0.08);
        padding: 24px;
        margin: 24px 0;
       h3{
        font-size: 18px;
        font-weight: 700;
       }
       .item_details{
        display: flex;
        align-items: center;
        gap: 16px;
        margin: 24px 0;
        img{
            height: 64px;
            width: 64px;
        }
        .product_detail{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
            width: 100%;
            .title_main{
                h4{
                    font-size: 14px;
                    font-weight: 600;
                    color: #0D0E11;
                    margin-bottom: 16px;
                }
                .inc_dec{
                    display: flex;
                    align-items: center;
                    gap: 24px;
                    .decreement{
                        background: #E6E8F1;
                        height: 32px;
                        width: 32px;
                    }
                    .increement{
                        background: #0D0E11;
                        height: 32px;
                        width: 32px;
                        color: #fff;
                    }
                }
            }
            p{
                font-size: 14px;
                font-weight: 600;
                color: #0D0E11;
            }
        }
       }
       .total{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
        h2{
            font-size: 18px;
            font-weight: 700;
            color: #0D0E11;
            margin-top: 0;
        }
       }
    }
    .form{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }
}

@media(max-width: 991.98px){
    .cartlist_wrapper{
        max-width: 100%;
    }
}

@media(max-width: 424.98px){
    .cartlist_wrapper{
        .item_wrapper{
            .item_details{
                flex-direction: column;
                align-items: start;
            }
        }
    }
}

@media(max-width: 368.98px){
    .cartlist_wrapper{
        .form{
            flex-direction: column;
            align-items: start;
            .btn_theam{
                width: 100% !important;
                margin-top: 8px;
            }
        }
    }
}