.edit_profile_wrapper{
    width: 50%;
    margin: auto;
    .edit_wrapper{
        h2{
            margin-top: 120px;
            font-size: 40px;
            font-weight: 700;
            color: #0D0E11;
        }
        .edit_box{
            margin: 40px 0;
            border: 1px solid #EFF3F9;
            border-radius: 15px;
            box-shadow: 0px 1px 3px rgba(30, 38, 57, 0.08);
            padding: 24px;
            .profile_pic{
                height: 88px;
                width: 88px;
                position: relative;
                .img_wrapper{
                    border-radius: 50%;
                    overflow: hidden;
                    height: 100%;
                    width: 100%;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: fill;
                        object-position: center;
                    }
                    .btn_camera{
                        position: absolute;
                        top: 65px;
                        bottom: -20px;
                        left: 55px;
                        background: #fff;
                        box-shadow: 0px 6px 10px rgba(43, 39, 68, 0.1);
                        height: 32px;
                        width: 32px;
                    }
                }
            }
            .feild_content{
                margin-top: 30px;
                .input_field{
                    height: 48px;
                }
            }
            .btn_section{
                padding-top: 24px;
                display: flex;
                gap: 10px;
            }
        }
    }
}

@media(max-width: 991.98px){
    .edit_profile_wrapper{
        width: 100%;
    }
}

@media(max-width: 424.98px){
    .edit_profile_wrapper{
        .edit_wrapper{
            .edit_box{
                .btn_section{
                    flex-direction: column;
                }
            }
        }
    }
}