.podcast_wrapper {
    .podcast {
        margin: 40px 0;

        .podcast_card {
            border: 1px solid #EFF3F9;
            border-radius: 15px;
            box-shadow: 0px 1px 3px rgba(30, 38, 57, 0.08);
            padding: 12px;
            display: flex;
            gap: 12px;

            .content {
                h5 {
                    font-size: 16px;
                    margin-bottom: 8px;
                }

                .btn {
                    margin-top: 16px;
                    background: #E1E4FA;
                    color: #3B37DA;
                    font-size: 14px;
                    border-radius: 12px;
                    text-transform: capitalize;
                    gap: 8px;
                }
            }
        }
    }

    .btn_section {
        text-align: center;
        margin: 40px 0;
    }

    .audio_wrapper {
        padding: 16px 0;
        box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.08);
        background: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
        transform: translateY(150%);
        transition: all 0.5s ease;
        &.active{
            transform: translateY(0);
        }
        .audio_detail {
            display: flex;
            align-items: center;
            gap: 24px;
            width: 100%;

            .audio_control {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-grow: 1;

                h2 {
                    font-size: 16px;
                    font-weight: 600;
                    color: #0D0E11;
                }
            }
        }
        .close{
            position: fixed;
            background: #E6E8F1;
            top: 10px;
            right: 10px;
            height: 16px;
            width: 16px;
        }
    }
}

@media(max-width: 767.98px){
    .audio_control{
        display: block !important;
        h2{
            margin-bottom: 8px;
        }
    }
}