.product_card{
    padding: 16px !important;
    width: 100%;
    border: 1px solid #EFF3F9;
    border-radius: 15px;
    .img_wrapper{
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        cursor: pointer;
        img{
            height: 100%;
            width: 100% !important;
            object-fit: cover;
            object-position: center;
        }
    }
    .item_wrapper{
        margin-top: 16px;
        .item_text{
            margin-bottom: 8px;
        }
        .item_detail{
            margin-top: 8px;
            h3{
                color: #3B37DA;
                font-size: 16px;
            }
        }
    }
}

.auction_card{
    .image_wrapper{
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        position: relative;
        .time{
            position: absolute;
            background: red;
            height: 26px;
            width: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            padding: 5px;
            border-radius: 5px;
            bottom: 15px;
            right: 15px;
        }
    }
    .text_content{
        text-align: left;
        margin-top: 24px;
        h2{
            margin-bottom: 16px;
        }
    }
}