*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  clear: both;
}

h1{
  color: #fff;
  margin-bottom: 24px;
}

.d_flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_theam{
  background: #3B37DA !important;
  border-radius: 12px !important;
  padding: 12px 24px !important;
  font-size: 14px !important;
  color: #fff !important;
  min-width: 133px !important;
  text-transform: capitalize !important;
}

.btn_theam:hover{
  background: #3B37DA;
  color: #fff;
}

.image_wrapper{
  width: 100%;
  /* height: 340px; */
  border-radius: 8px;
  overflow: hidden;
}

.d_space_between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
